
.titulo1{
  height: 75vh;
  width: 100vw;
  display: block;
  color: #fff;
  text-align: center;
  padding-top: 2em;
  background-image: linear-gradient(#34344f, #000);
  position: static;
}
 .titulo1 > h1{
   font-size: 80px;
   font-family: 'Anton', cursive;
 }

 .titulo1 > h2 {
   font-size: 35px;
   font-family:'Recursive', sans-serif;
 }

.titulo1 > p {
  font-size: 25px;
  font-family: 'Recursive', sans-serif;
  font-weight: bold;
}

footer{
  display:block;
  position: static;
  margin: 1px;
}

.contacto2{
  position: static;
  display: grid;
  grid-template-columns: auto auto auto;
  margin: auto;
  width: 50%;
  position: static;
}
.contacto2 > a{
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #FFF;
  font-size: 4em;
}

.despedida{
  text-align: center;
  color: #FFF;
  font-size: 30px;
  font-family: 'Recursive', sans-serif;
}

@media  only screen and (max-width : 600px) {

  .titulo1{
    padding: 1em;
    background-image: linear-gradient(#34344f, #000);
    padding-top: 10%;
    display:block;
  }

  .titulo1 > h1{
    font-size: 5em;
    font-family: 'Anton', cursive;
    margin-bottom: 15px;
  }

  .titulo1 > h2 {
    font-size: 3em;
    font-family:'Recursive', sans-serif;
  }

 .titulo1 > p {
   font-size:2.5em;
   font-family: 'Recursive', sans-serif;
   font-weight: bold;
 }

.contacto2{
  position: static;
  display: grid;
  grid-template-columns: auto auto auto;
  margin: auto;
  width: 50%;
  position: static;
}
 .contacto2 > a{
   font-size: 5em;
   margin-left: auto;
   margin-right: auto;
 }
}
