:root {
    --fondo-nav: rgb(241, 247, 253, 0.4);
    --fondo-opciones: rgba(75, 122, 168, 0.6);
}

*,
*::before,
*::after {
    box-size: border-box;
}

body {
    font-family: 'DotGothic16', sans-serif;
    /* font-family: 'Roboto Mono', monospace;
  font-family: 'RocknRoll One', sans-serif;*/
    margin-left: 0;
    background: linear-gradient(-45deg, #e6947b, #0e1836, #071e5c, #eebb78);
    background-size: 500% 500%;
    animation: gradient 5s ease infinite;
    height: 3000px;
}

header {
    top: 0;
    background: var(--fondo-nav);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background-color: var(--fondo-opciones);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 500ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 3.5em;
    opacity: 0.1;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: #000;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}


/*se va a trabajar con todas las partes del span dentro del label*/

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background-color: white;
    height: 12px;
    width: 3em;
    border-radius: 5px;
}

.nav-toggle-label span::before,

/*se va a a repetir arriba y abajo lo que se define arriba creando una hamburguesa*/

.nav-toggle-label span::after {
    content: "";
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 35px;
}

.nav-toggle-label span::after {
    top: 35px;
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 350ms;
}

.logo {
    height: 9em;
    width: 9em;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.construction {
    margin-right: 50%;
    color: rgb(241, 247, 253);
    text-align: justify;
    font-size: 60px;
    width: 80vw;
    height: 50vh;
    font-family: 'DotGothic16', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.construction>div {
    margin: 10px;
    padding-left: 105px;
}

.construction>h1 {
    margin-left: 25px;
}

.construction>p {
    font-size: 25px;
    margin-top: 1px;
    margin-left: 25px;
    text-align: left;
    max-width: 5em;
}

.quiensoy {
    display: flex;
    flex-direction: row;
}

.misclientes,
.experiencia {
    background-color: #ccd6f0d2;
    display: none;
    color: rgb(241, 247, 253);
    text-align: justify;
    font-family: 'Roboto Mono', monospace;
    width: 80vw;
    font-family: 'Anton';
    border-radius: 15px;
    display: block;
    margin-left: 10%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.clientes {
    color: rgb(241, 247, 253);
    font-family: 'Roboto Mono', monospace;
    margin-top: 20rem;
    display: grid;
    text-align: center;
}

.todas {
    color: rgb(241, 247, 253);
    font-family: 'Roboto Mono', monospace;
    margin-top: 5rem;
    display: grid;
    text-align: center;
}

.ultimosclientes,
.ultexperiencia {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding-top: 5%;
}

.ultimosclientes>div {
    color: rgb(241, 247, 253);
    height: 400px;
    margin-top: 2%;
}

.ultexperiencia h3,
.ultimosclientes h3 {
    font-size: 2.5em;
    text-align: center;
}

.ultimosclientes>div:hover {
    opacity: 0.4;
}

.laera {
    width: 300px;
    height: 250px;
}

.jomati {
    width: 300px;
    height: 250px;
}

.restaurantes {
    margin-left: 20px;
}

.jomati {
    margin: 5px;
    width: 250px;
}

.jislcorp {
    margin-top: 40px;
    height: 100px;
    background-image: url("../images/Logo-IgnacioSalia-monograma.png");
    background-size: 120px 120px;
    background-repeat: no-repeat;
    background-position: center;
}

.ultimosclientes>div,
.ultexperiencia>div {
    text-align: center;
    border-radius: 5px;
}

.redes {
    margin-top: 15em;
    margin-left: 25%;
    display: flex;
    flex-direction: row;
}

.redes a {
    color: aliceblue;
    font-size: 5em;
    margin: 50px
}

@media screen and (min-width: 1200px) {
    body {
        height: 2000px;
    }
    .nav-toggle-label {
        display: none;
    }
    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
    }
    .logo {
        grid-column: 2 / 3;
    }
    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    nav ul {
        display: flex;
        justify-content: flex-end;
        /*border: 1px solid red;*/
    }
    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }
    nav a {
        opacity: 1;
        position: relative;
        font-size: 2em;
    }
    nav a::before {
        content: "";
        display: block;
        height: 20px;
        width: 20px;
        background: black;
        position: absolute;
        top: 1em;
        left: 50%;
        right: 0;
        transform: scale(0, 1) rotate(45deg);
        transform-origin: left;
        transition: transform ease-in-out 250ms;
    }
    nav a:hover::before {
        transform: scale(1, 1);
        transform: rotate(45deg);
    }
    .logo {
        height: 7em;
        width: 7em;
    }
    .clientes,
    .todas {
        color: rgb(241, 247, 253);
        font-family: 'Roboto Mono', monospace;
        padding-top: 25px;
        display: grid;
        grid-template-rows: auto auto;
        text-align: center;
        align-items: center;
    }
    .ultimosclientes,
    .ultexperiencia {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .ultimosclientes>div,
    .ultexperiencia>div {
        margin: 15px;
        text-align: center;
        border-radius: 5px;
    }
}


/*TO DO 
1.- crea la versi[on de telefeno listo
2.- terminar la interaccion de las secciones listo
3.- pormocionar los servicios
4.- crear pagina de educaci[on y de CV
5.- margen en chrome no se ve como deber[ia*/