
body{
  font-family: 'Rajdhani', sans-serif;
  margin-left: 0.1em;
  background: linear-gradient(-45deg, #c57f69, #27386b, #354d91, #0a0092);
  background-size: 300% 300%;
  animation: gradient 5s ease infinite;
}

.thenew{
  align-items: center;
}
.construction{
    color: #27386b;
    text-align: justify; 
    font-size: 80px;
    height: 60%;
    width: 90vw;
    font-family: 'Anton';
    display: grid;
    grid-template-columns: auto;
    margin: 80px;
    background-color: aliceblue;
  }

  .construction > h1{
    margin-left: 25px;
  }
  .construction > p{
    font-size: 40px;
    margin-top: auto;
    margin-left: 25px;
    text-align: justify;
  }

@keyframes gradient {
  0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
  
}

.misclientes{
  color: #27386b;
  text-align: justify; 
  height: 60%;
  width: 90vw;
  font-family: 'Anton';
  display: grid;
  grid-template-columns: auto;
  margin: 80px;
  background-color: aliceblue;
}
.clientes {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  align-items: center;
}
.clientes > h2 {
  font-size: larger;
}
.ultimosclientes{
  display: grid;
  grid-template-columns: auto auto auto;
}

 