
    p {
        font-family:'Space Mono', monospace ;
        font-size: 16px;
        }

    .w3-ubuntu {
        font-family: 'Anton', sans-serif;
        }
    .explicacion{
      text-align: justify;
    }

    .Sobre{
      /*background-image: url(pc-repair-tool.jpg);**/
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
    }

    .mySlides{
      /*background-image: url(Github-ignacio);*/
        /*background-image: url(pc-repair-tool.jpg);*/
    }

    .repair{
       background-image: url(pc-repair-tool.jpg);
    }
